{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109827598-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) }
        gtag('js', new Date());

        gtag('config', 'UA-109827598-1');
    </script>
{% load static %}
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/png" href="{% static "icons/ur_cyan.png" %}"/>
    <script src="http://code.jquery.com/jquery-latest.min.js" charset="utf-8"></script>
    {% csrf_token %}
    <script type="text/javascript" src="{% static "csrf_ajax.js" %}"></script>

    <!-- Load static fonts -->
    <style>
        @font-face {
            font-family: 'Open Sans';
            src: url('{% static "fonts/OpenSans.ttf" %}') format('truetype'),
            url('{% static "fonts/OpenSans-Bold.ttf" %}') format('truetype'),
            url('{% static "fonts/OpenSans-Italic.ttf" %}') format('truetype'),
            url('{% static "fonts/OpenSans-Light.ttf" %}') format('truetype');
        }
    </style>

    <title>Underpriced &mdash; поиск недооцененных квартир в Москве</title>
</head>
<body>
    <div id="app"></div>
    {% render_bundle 'index' %}
</body>
</html>