{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109827598-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) }
        gtag('js', new Date());

        gtag('config', 'UA-109827598-1');
    </script>

    <!-- VK share -->
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter46737621 = new Ya.Metrika({
                        id:46737621,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/46737621" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

{% load static %}
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/png" href="{% static "icons/ur_cyan.png" %}"/>
    <script src="http://code.jquery.com/jquery-latest.min.js" charset="utf-8"></script>
    {% csrf_token %}
    <script type="text/javascript" src="{% static "csrf_ajax.js" %}"></script>

    <!-- Load static fonts -->
    <style>
        @font-face {
            font-family: 'Open Sans';
            src: url('{% static "fonts/OpenSans.ttf" %}') format('truetype'),
            url('{% static "fonts/OpenSans-Bold.ttf" %}') format('truetype'),
            url('{% static "fonts/OpenSans-Italic.ttf" %}') format('truetype'),
            url('{% static "fonts/OpenSans-Light.ttf" %}') format('truetype');
        }
    </style>

    <title>Underpriced &mdash; поиск недооцененных квартир в Москве</title>
</head>
<body>
    <!-- FB share -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- /FB share -->

    <div id="app"></div>
    {% render_bundle 'index' %}
    <!--<script type="text/javascript">
        document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
    </script>-->
</body>
</html>